{
    "openapi": "3.1.0",
    "info": {
        "title": "Cafe Backend API",
        "description": "API documentation for the cafe backend service.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.kdgn.tech",
            "description": "Production server"
        },
        {
            "url": "http://localhost:8787",
            "description": "Development server"
        }
    ],
    "components": {
        "securitySchemes": {
            "MaidApiKey": {
                "type": "apiKey",
                "in": "header",
                "name": "x-api-key",
                "description": "メイド管理APIにアクセスするためのAPIキーを指定します。"
            },
            "AdminApiKey": {
                "type": "apiKey",
                "in": "header",
                "name": "x-api-key",
                "description": "管理者用APIにアクセスするためのAPIキーを指定します。"
            }
        }
    },
    "paths": {
        "/": {
            "get": {
                "operationId": "getIndex",
                "tags": [
                    "Health"
                ],
                "summary": "Health check endpoint",
                "description": "Returns a greeting to confirm the API is running.",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Hello Hono!",
                                            "description": "Greeting returned by the API."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ],
                                    "description": "Health check response payload."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maids": {
            "get": {
                "operationId": "getApiMaids",
                "tags": [
                    "Maids"
                ],
                "summary": "List maids",
                "description": "Fetch a paginated list of maids.",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "description": "Page number (1-based).",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "description": "Items per page (max 100).",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100,
                            "default": 20
                        }
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "required": false,
                        "description": "Filter by active flag. true returns only active maids, false returns only inactive maids. When omitted no filtering is applied.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maids.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "example": "c2608c61-4a4a-405a-8024-1cc403a53c1d",
                                                        "description": "Unique maid identifier."
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "Alice",
                                                        "description": "Maid display name."
                                                    },
                                                    "image_url": {
                                                        "type": [
                                                            "string",
                                                            "null"
                                                        ],
                                                        "format": "uri",
                                                        "example": "https://example.com/images/maids/1.jpg",
                                                        "description": "Public URL of the maid image if available.",
                                                        "nullable": true
                                                    },
                                                    "is_instax_available": {
                                                        "type": "boolean",
                                                        "example": true,
                                                        "description": "Indicates whether the maid can handle instax/cheki requests."
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name",
                                                    "image_url",
                                                    "is_instax_available"
                                                ],
                                                "description": "Maid resource representation."
                                            },
                                            "description": "List of maid resources."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameters.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maids/{id}": {
            "get": {
                "operationId": "getApiMaids:id",
                "tags": [
                    "Maids"
                ],
                "summary": "Fetch a maid",
                "description": "Retrieve a single maid resource by its identifier.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Maid identifier.",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Maid found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "c2608c61-4a4a-405a-8024-1cc403a53c1d",
                                                    "description": "Unique maid identifier."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Alice",
                                                    "description": "Maid display name."
                                                },
                                                "image_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "uri",
                                                    "example": "https://example.com/images/maids/1.jpg",
                                                    "description": "Public URL of the maid image if available.",
                                                    "nullable": true
                                                },
                                                "is_instax_available": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "description": "Indicates whether the maid can handle instax/cheki requests."
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "image_url",
                                                "is_instax_available"
                                            ],
                                            "description": "Maid resource representation."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid identifier supplied.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Maid not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "postApiMaids:id",
                "tags": [
                    "Maids"
                ],
                "summary": "Create a maid",
                "description": "Register a new maid profile by specifying the identifier up front. Optional fields such as name and instax availability can be provided later; instax availability defaults to false when omitted.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Maid identifier to reserve.",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "vendor": "zod"
                            },
                            "examples": {
                                "default": {
                                    "summary": "Create maid placeholder with instax flag",
                                    "value": {
                                        "is_instax_available": true
                                    }
                                },
                                "minimal": {
                                    "summary": "Create maid placeholder without optional fields",
                                    "value": {}
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "MaidApiKey": []
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Maid created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "c2608c61-4a4a-405a-8024-1cc403a53c1d",
                                                    "description": "Unique maid identifier."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Alice",
                                                    "description": "Maid display name."
                                                },
                                                "image_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "uri",
                                                    "example": "https://example.com/images/maids/1.jpg",
                                                    "description": "Public URL of the maid image if available.",
                                                    "nullable": true
                                                },
                                                "is_instax_available": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "description": "Indicates whether the maid can handle instax/cheki requests."
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "image_url",
                                                "is_instax_available"
                                            ],
                                            "description": "Maid resource representation."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request payload or identifier.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Missing or invalid x-api-key header.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Maid identifier already exists.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "operationId": "patchApiMaids:id",
                "tags": [
                    "Maids"
                ],
                "summary": "Update a maid",
                "description": "Update an existing maid profile. Supports JSON for name updates and multipart form-data when uploading images.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Maid identifier.",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "vendor": "zod"
                            },
                            "examples": {
                                "default": {
                                    "summary": "Update maid name",
                                    "value": {
                                        "name": "Alice"
                                    }
                                }
                            }
                        },
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Updated maid name.",
                                        "example": "Maid Alice"
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Image file for the maid.",
                                        "example": "maid-alice.jpg"
                                    },
                                    "is_instax_available": {
                                        "type": "boolean",
                                        "description": "Flag indicating if the maid can handle instax/cheki requests.",
                                        "example": true
                                    }
                                }
                            },
                            "examples": {
                                "default": {
                                    "summary": "Update maid profile with image",
                                    "value": {
                                        "name": "Maid Alice",
                                        "image": "maid-alice.jpg"
                                    }
                                }
                            },
                            "encoding": {
                                "image": {
                                    "contentType": "image/jpeg"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "MaidApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Maid updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "c2608c61-4a4a-405a-8024-1cc403a53c1d",
                                                    "description": "Unique maid identifier."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Alice",
                                                    "description": "Maid display name."
                                                },
                                                "image_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "uri",
                                                    "example": "https://example.com/images/maids/1.jpg",
                                                    "description": "Public URL of the maid image if available.",
                                                    "nullable": true
                                                },
                                                "is_instax_available": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "description": "Indicates whether the maid can handle instax/cheki requests."
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "image_url",
                                                "is_instax_available"
                                            ],
                                            "description": "Maid resource representation."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request payload.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Missing or invalid x-api-key header.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Maid not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteApiMaids:id",
                "tags": [
                    "Maids"
                ],
                "summary": "Delete a maid",
                "description": "Remove a maid profile and associated image assets.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Maid identifier.",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "security": [
                    {
                        "MaidApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Maid deleted successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "c2608c61-4a4a-405a-8024-1cc403a53c1d",
                                                    "description": "Unique maid identifier."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Alice",
                                                    "description": "Maid display name."
                                                },
                                                "image_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "uri",
                                                    "example": "https://example.com/images/maids/1.jpg",
                                                    "description": "Public URL of the maid image if available.",
                                                    "nullable": true
                                                },
                                                "is_instax_available": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "description": "Indicates whether the maid can handle instax/cheki requests."
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "image_url",
                                                "is_instax_available"
                                            ],
                                            "description": "Maid resource representation."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid maid identifier provided.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized. Missing or invalid x-api-key header.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Maid not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maids/{id}/users": {
            "get": {
                "operationId": "getApiMaids:idUsers",
                "tags": [
                    "Maids"
                ],
                "summary": "List assigned users for a maid",
                "description": "Returns the users currently assigned to the specified maid. A user is treated as `leaving` when their status is \"leaving\" (case-insensitive); any other status is treated as `serving`.",
                "security": [
                    {
                        "MaidApiKey": []
                    }
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Maid identifier.",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "description": "Filter assigned users by engagement state. Accepts `serving`, `leaving`, or `both` (default).",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "serving",
                                "leaving",
                                "both"
                            ],
                            "default": "both"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assigned users retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "maid_id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "c2608c61-4a4a-405a-8024-1cc403a53c1d",
                                                    "description": "Target maid identifier."
                                                },
                                                "status_filter": {
                                                    "type": "string",
                                                    "enum": [
                                                        "serving",
                                                        "leaving",
                                                        "both"
                                                    ],
                                                    "description": "Query filter for engagement state. `both` returns every assigned user while still tagging each row.",
                                                    "example": "both"
                                                },
                                                "users": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid",
                                                                "example": "f1d2e3c4-b5a6-47d8-9123-abcdefabcdef",
                                                                "description": "User identifier."
                                                            },
                                                            "name": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "example": null,
                                                                "description": "User name if registered.",
                                                                "nullable": true
                                                            },
                                                            "status": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "example": "Waiting for order.",
                                                                "description": "Current free-form status text for the user.",
                                                                "nullable": true
                                                            },
                                                            "maid_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "format": "uuid",
                                                                "example": "c2608c61-4a4a-405a-8024-1cc403a53c1d",
                                                                "description": "Assigned maid identifier.",
                                                                "nullable": true
                                                            },
                                                            "instax_maid_id": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "format": "uuid",
                                                                "example": null,
                                                                "description": "Instax maid identifier if assigned.",
                                                                "nullable": true
                                                            },
                                                            "instax_id": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ],
                                                                "example": 42,
                                                                "description": "instax identifier associated with the user.",
                                                                "nullable": true
                                                            },
                                                            "seat_id": {
                                                                "type": [
                                                                    "integer",
                                                                    "null"
                                                                ],
                                                                "example": 12,
                                                                "description": "Seat identifier for the user.",
                                                                "nullable": true
                                                            },
                                                            "is_valid": {
                                                                "type": "boolean",
                                                                "example": true,
                                                                "description": "Indicates if the user is currently valid."
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "example": "2025-01-15T10:00:00.000Z",
                                                                "description": "Creation timestamp in ISO 8601 format."
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "example": "2025-01-16T10:00:00.000Z",
                                                                "description": "Last update timestamp in ISO 8601 format."
                                                            },
                                                            "engagement_state": {
                                                                "type": "string",
                                                                "enum": [
                                                                    "serving",
                                                                    "leaving"
                                                                ],
                                                                "description": "Derived engagement state. `leaving` when the user status equals \"leaving\" (case-insensitive), otherwise `serving`.",
                                                                "example": "serving"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "status",
                                                            "maid_id",
                                                            "instax_maid_id",
                                                            "instax_id",
                                                            "seat_id",
                                                            "is_valid",
                                                            "created_at",
                                                            "updated_at",
                                                            "engagement_state"
                                                        ],
                                                        "description": "User assigned to a maid together with the derived engagement state."
                                                    },
                                                    "description": "Users assigned to the maid that satisfy the filter."
                                                }
                                            },
                                            "required": [
                                                "maid_id",
                                                "status_filter",
                                                "users"
                                            ],
                                            "description": "Assigned users grouped by engagement state."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid identifier or status filter supplied.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Maid not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/maids/{id}/active": {
            "patch": {
                "operationId": "patchApiMaids:idActive",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "is_active": {
                                        "type": "boolean",
                                        "description": "Whether the maid should be active (true) or inactive (false).",
                                        "example": true
                                    }
                                },
                                "required": [
                                    "is_active"
                                ],
                                "description": "Payload to change maid active flag."
                            }
                        }
                    },
                    "required": true,
                    "description": "Payload to change maid active flag."
                },
                "tags": [
                    "Maids"
                ],
                "summary": "Toggle maid active flag",
                "description": "Set the maid's isActive flag",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Maid identifier.",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "security": [
                    {
                        "MaidApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Maid updated successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "c2608c61-4a4a-405a-8024-1cc403a53c1d",
                                                    "description": "Unique maid identifier."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Alice",
                                                    "description": "Maid display name."
                                                },
                                                "image_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "uri",
                                                    "example": "https://example.com/images/maids/1.jpg",
                                                    "description": "Public URL of the maid image if available.",
                                                    "nullable": true
                                                },
                                                "is_instax_available": {
                                                    "type": "boolean",
                                                    "example": true,
                                                    "description": "Indicates whether the maid can handle instax/cheki requests."
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "image_url",
                                                "is_instax_available"
                                            ],
                                            "description": "Maid resource representation."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Maid not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/menus": {
            "post": {
                "operationId": "postApiMenus",
                "tags": [
                    "Menus"
                ],
                "summary": "Create a menu",
                "description": "Register a new menu item including its opening stock and image asset.",
                "security": [
                    {
                        "AdminApiKey": []
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "stock",
                                    "image"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "description": "Menu display name.",
                                        "example": "Chocolate Parfait"
                                    },
                                    "stock": {
                                        "type": "integer",
                                        "minimum": 0,
                                        "description": "Initial stock quantity.",
                                        "example": 20
                                    },
                                    "image": {
                                        "type": "string",
                                        "format": "binary",
                                        "description": "Menu image file to upload.",
                                        "example": "parfait.jpg"
                                    }
                                }
                            },
                            "encoding": {
                                "image": {
                                    "contentType": "image/*"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Menu created successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "description": "Menu identifier."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Omurice",
                                                    "description": "Menu item name."
                                                },
                                                "stock": {
                                                    "type": "integer",
                                                    "example": 10,
                                                    "description": "Remaining stock value."
                                                },
                                                "image_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "uri",
                                                    "example": "https://example.com/menus/1.jpg",
                                                    "description": "Public URL for the menu image if available.",
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-01-15T12:30:00.000Z",
                                                    "description": "Creation timestamp in ISO 8601 format."
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-01-16T18:45:00.000Z",
                                                    "description": "Last update timestamp in ISO 8601 format."
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "stock",
                                                "image_url",
                                                "created_at",
                                                "updated_at"
                                            ],
                                            "description": "Menu resource representation."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request payload.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to create menu.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                }
                            }
                        }
                    }
                }
            },
            "get": {
                "operationId": "getApiMenus",
                "tags": [
                    "Menus"
                ],
                "summary": "List menus",
                "description": "Retrieve all menu items. Optionally filter by stock availability.",
                "parameters": [
                    {
                        "in": "query",
                        "name": "available_only",
                        "required": false,
                        "description": "When true, only menus with stock greater than zero are returned.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Menus retrieved successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "menus": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer",
                                                                "example": 1,
                                                                "description": "Menu identifier."
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Omurice",
                                                                "description": "Menu item name."
                                                            },
                                                            "stock": {
                                                                "type": "integer",
                                                                "example": 10,
                                                                "description": "Remaining stock value."
                                                            },
                                                            "image_url": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ],
                                                                "format": "uri",
                                                                "example": "https://example.com/menus/1.jpg",
                                                                "description": "Public URL for the menu image if available.",
                                                                "nullable": true
                                                            },
                                                            "created_at": {
                                                                "type": "string",
                                                                "example": "2025-01-15T12:30:00.000Z",
                                                                "description": "Creation timestamp in ISO 8601 format."
                                                            },
                                                            "updated_at": {
                                                                "type": "string",
                                                                "example": "2025-01-16T18:45:00.000Z",
                                                                "description": "Last update timestamp in ISO 8601 format."
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name",
                                                            "stock",
                                                            "image_url",
                                                            "created_at",
                                                            "updated_at"
                                                        ],
                                                        "description": "Menu resource representation."
                                                    }
                                                }
                                            },
                                            "required": [
                                                "menus"
                                            ],
                                            "description": "Collection of menu resources."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/menus/{id}": {
            "get": {
                "operationId": "getApiMenus:id",
                "tags": [
                    "Menus"
                ],
                "summary": "Fetch menu by id",
                "description": "Retrieve a single menu item by identifier.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Menu identifier.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Menu found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "description": "Menu identifier."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Omurice",
                                                    "description": "Menu item name."
                                                },
                                                "stock": {
                                                    "type": "integer",
                                                    "example": 10,
                                                    "description": "Remaining stock value."
                                                },
                                                "image_url": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ],
                                                    "format": "uri",
                                                    "example": "https://example.com/menus/1.jpg",
                                                    "description": "Public URL for the menu image if available.",
                                                    "nullable": true
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "example": "2025-01-15T12:30:00.000Z",
                                                    "description": "Creation timestamp in ISO 8601 format."
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "example": "2025-01-16T18:45:00.000Z",
                                                    "description": "Last update timestamp in ISO 8601 format."
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name",
                                                "stock",
                                                "image_url",
                                                "created_at",
                                                "updated_at"
                                            ],
                                            "description": "Menu resource representation."
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ],
                                    "description": "Successful API response wrapper."
                                },
                                "examples": {
                                    "success": {
                                        "summary": "Menu response",
                                        "value": {
                                            "success": true,
                                            "message": "OK",
                                            "data": {
                                                "id": 1,
                                                "name": "Omurice",
                                                "stock": 10,
                                                "image_url": "https://example.com/menus/1.jpg",
                                                "created_at": "2025-01-15T12:30:00.000Z",
                                                "updated_at": "2025-01-16T18:45:00.000Z"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid menu identifier.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                },
                                "examples": {
                                    "invalidId": {
                                        "summary": "Invalid id",
                                        "value": {
                                            "success": false,
                                            "message": "Invalid menu id."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Menu not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": false
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "details": {}
                                    },
                                    "required": [
                                        "success",
                                        "message"
                                    ],
                                    "description": "Error response payload."
                                },
                                "examples": {
                                    "missing": {
                                        "summary": "Menu missing",
                                        "value": {
                                            "success": false,
                                            "message": "Menu not found."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "operationId": "deleteApiMenus:id",
                "tags": [
                    "Menus"
                ],
                "summary": "Delete a menu",
                "description": "Remove an existing menu item and associated image asset.",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "description": "Menu identifier.",
                        "schema": {
                            "type": "integer",
                            "minimum": 1
                        }
                    }
                ],
                "security": [
                    {
                        "AdminApiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Menu deleted successfully.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "const": true
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1,
                                                    "description": "Menu identifier."
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Omurice",
[...]
